<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@user.edit.headline">Edit User</h1>
    <div>
        <a routerLink="/users" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@user.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="userId" rowType="number" i18n-label="@@user.userId.label" label="User Id" />
    <app-input-row [group]="editForm" field="firstName" i18n-label="@@user.firstName.label" label="First Name" />
    <app-input-row [group]="editForm" field="lastName" i18n-label="@@user.lastName.label" label="Last Name" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@user.email.label" label="Email" />
    <app-input-row [group]="editForm" field="password" i18n-label="@@user.password.label" label="Password" />
    <app-input-row [group]="editForm" field="address" i18n-label="@@user.address.label" label="Address" />
    <app-input-row [group]="editForm" field="phoneNumber" i18n-label="@@user.phoneNumber.label" label="Phone Number" />
    <app-input-row [group]="editForm" field="orderHistory" i18n-label="@@user.orderHistory.label" label="Order History" />
    <input type="submit" i18n-value="@@user.edit.headline" value="Edit User" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
